<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>		
	<!-- General -->
	<category label="30100">
	 <setting id="select_action" type="labelenum" label="30110" default="Play" lvalues="30120|30130|30140"/>
	 <setting id="bitrate" type="labelenum" label="40390" default="Default" lvalues="40400|40410|40420|40430|40440|40450|40460|40470|40480|40490"/>
<!--     <setting id="AerTV_stream_type" type="labelenum" label="40670" default="RTMP" lvalues="40671|40672"/>-->
     <setting id="TG4_language" type="labelenum" label="30390" default="Gaeilge" lvalues="30391|30392"/>
     <setting id="RTE_descriptions" type="bool" label="30380" default="false"/>
	<!-- <setting id="subtitles" type="bool" label="30160" default="false"/>-->
	</category>

	  <!-- Proxy -->
    <category label="30300">
         <setting label="30370" type="lsep"/>
         <setting id="forward_segment1" label="30362" type="slider" range="1,1,255" default="46" option="int"/>
         <setting id="forward_segment2" label="30363" type="slider" range="0,1,255" default="7" option="int"/>
         <setting label="30307" type="lsep"/>
         <setting id="proxy_type" label="30315" type="enum" values="HTTP|HTTP (Tunneled)|SOCKS4|SOCKS5" default="0" />
         <setting id="proxy_server" label="30320" type="text" default=""/>
         <setting id="proxy_port" label="30330" type="number" default=""/>
         <setting id="proxy_user" label="30340" type="text"/>
         <setting id="proxy_pass" label="30350" type="text" option="hidden" />
	</category>
    <category label="30305">
         <setting id="RTE_proxy_method" label="20100" type="enum" values="None|Forwarded IP|Proxy for HTTP|Proxy for HTTP and Streams" default="0" />
         <setting id="TV3_proxy_method" label="20101" type="enum" values="None|Forwarded IP|Proxy for HTTP|Proxy for HTTP and Streams" default="0" />
         <setting id="AerTV_proxy_method" label="20102" type="enum" values="None|Forwarded IP|Proxy for HTTP|Proxy for HTTP and Streams" default="0" />
         <setting id="TG4_proxy_method" label="20103" type="enum" values="None|Forwarded IP|Proxy for HTTP|Proxy for HTTP and Streams" default="0" />
	</category>

	<!-- Downloads -->
	<category label="30200">
	 <setting id="rtmpdump_path" type="file" label="30210" default=""/>
	 <setting id="download_folder" type="folder" label="30220" default=""/>
	 <setting id="ask_folder" type="bool" label="30230" default="false"/>
	 <setting id="ask_filename" type="bool" label="30240" default="false"/>
	</category>

	<!-- Advanced -->
	<category label="30400">
	
	 <setting id="socket_timeout" type="number" label="30420" default="0"/>
	 <setting id="http_cache_disable" label="30170" type="bool" default="false" />
	</category>
</settings>
